:root{
    --mainred: #DA1212;
    --mainblue: #041562; 
    --maindgreen:#40a879;
    --maingreen:#50CB93;
    --bg-black: #232b2b;
    --bg-light :#DCE1DE;
    --fontcolor:rgb(240, 239, 238);
    --fontcolordark: #1F2421;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

th{
    background:#232b2b;
    height: 70px;
    margin: 4px;
    padding: 5px 15px;
    border-radius: 6px;
    color: var(--bg-light);
    font-size: 1.2rem;
    font-weight: 400;
}

td *{
    background:#DCE1DE;
    padding: 0 10px;
    height: 50px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    margin:5px;
}


.allpatientpage_container{
    width: 100%;
    background: var(--maingreen);
    display: flex;
    align-items: center;
    justify-content: center;
}
.table_container{
    max-height: 80vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.resultbox{
    width: 50px;
    border: 2px solid var(--bg-black);
}