<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='../static/css/aboutus.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>About Us</title>
  </head>

  <body>
    <body>
      <nav>
        <div class="navElemContainers flexlogo">
          <img
            src="{{url_for('static',filename='../static/resources/heart.png')}}"
            alt="heart"
          />
          <div class="logo">MedAware</div>
        </div>
        <div class="navElemContainers middlenav">
          <div class="navItem"><a href="{{url_for('main')}}">Home</a></div>
        </div>
        <div class="navElemContainers lastnav">
          <div class="button"><a href="{{url_for('logout')}}">Log Out</a></div>
          <div class="button"><a href="{{url_for('main')}}">Back</a></div>
        </div>
      </nav>

      <div class="home">
        <div class="subcontainer text">
          <div class="headerline">
            About us the <span>CREATORS</span>, & our <span>COMMUNITY</span>.
          </div>
          <div class="divider_thick"></div>
          <div class="subtext">
            We aspire to create websites and technologies that as much as helps
            the socity also helps us showcase and improve our codding, creative
            and soft skills. we are open to contributers and look foreward to
            create better and more robust technologies.
          </div>
        </div>
        <div class="subcontainer">
          <img
            class="homeimage"
            src="{{url_for('static',filename='../static/resources/Team.svg')}}"
          />
        </div>
      </div>

      <div class="membercontainer">
        <div class="headerlinesmall">Meet our members,</div>

        <div class="member">
          <div class="member_container">
            <div class="number one">1</div>
            <div class="verticalline">
              <div class="member_header">Gaurav Verma</div>
              <div class="member_subtext">
                <a href="https://github.com/Gaurav07076">Connect on Github</a>
                <div class="email">Email- gauravvermaa07076@gmail.com</div>
                <a href="https://www.linkedin.com/in/gaurav-verma-98688a232/"
                  >Connect on LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="member">
          <div class="member_container">
            <div class="number two">2</div>
            <div class="verticalline">
              <div class="member_header">Prithwiraj Mohanty</div>
              <div class="member_subtext">
                <a href="https://github.com/The-Prithwiraj06"
                  >Connect on Github</a
                >
                <div class="email">Email- prithwirajmohanty06@gmail.com</div>
                <a
                  href="https://www.linkedin.com/in/prithwi-raj-mohanty-205330223"
                  >Connect on LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="member">
          <div class="member_container">
            <div class="number two">3</div>
            <div class="verticalline">
              <div class="member_header">Samyak Swaroop Mishra</div>
              <div class="member_subtext">
                <a href="https://github.com/samyak269">Connect on Github</a>
                <div class="email">Email- samyak2k16@gmail.com</div>
                <a href="https://www.linkedin.com/in/samyak-mishra-5a0461130">
                  Connect on LinkedIn
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="member">
          <div class="member_container">
            <div class="number two">4</div>
            <div class="verticalline">
              <div class="member_header">Deepak Kumar</div>
              <div class="member_subtext">
                <a href="https://github.com/deepak1ok">Connect on Github</a>
                <div class="email">Email- deepak.kr10460@gmail.com</div>
                <a href="https://www.linkedin.com/in/deepak1135/"
                  >Connect on LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="member">
          <div class="member_container">
            <div class="number two">5</div>
            <div class="verticalline">
              <div class="member_header">Saswat Jyoti Das</div>
              <div class="member_subtext">
                <a href="https://github.com/saswatdas121">Connect on Github</a>
                <div class="email">Email- saswatdas121@gmail.com</div>
                <a
                  href="https://www.linkedin.com/in/saswat-jyoti-das-9b5540271//"
                  >Connect on LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="member">
          <div class="member_container">
            <div class="number two">6</div>
            <div class="verticalline">
              <div class="member_header">Rama Singh</div>
              <div class="member_subtext">
                <a href="https://github.com/RamaSingh7653">Connect on Github</a>
                <div class="email">Email- ramasingh7653@gmail.com</div>
                <a href="#">Connect on LinkedIn</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer-content">
          <h3>MedAware.co</h3>
          <p>
            "Stay informed, stay ahead - let our disease check guide you through
            life's uncertain thread."
          </p>
          <p>
            Want to contribute ?
            <img
              class="github"
              src="{{url_for('static',filename='../static/resources/github-4.png')}}"
            />
          </p>
        </div>
        <div class="footer-bottom">
          <p>
            copyright &copy;2023. designed by
            <span><a href="https://github.com/Gaurav07076">Gaurav, </a></span>
            <span><a href="https://github.com/samyak269"> Samyak , </a></span>
            <span
              ><a href="https://github.com/The-Prithwiraj06"
                >Prithwiraj,
              </a></span
            >
            <span><a href="https://github.com/deepak1ok">Deepak, </a></span>
            <span
              ><a href="https://github.com/saswatdas121"
                >Saswat Jyoti Das.
              </a></span
            >

            <span
              ><a href="https://github.com/RamaSingh7653">Rama Singh </a></span
            >
          </p>
        </div>
      </footer>

      <script type="text/javascript">
        window.addEventListener("scroll", function () {
          var nav = document.querySelector("nav");
          nav.classList.toggle("sticky", window.scrollY > 0);
        });
      </script>
    </body>
  </body>
</html>
