<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../static/css/table.css">
    <link
    rel="stylesheet"
    type="text/css"
    href="{{url_for('static',filename='../static/css/main.css')}}"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <title>Document</title>
    <style>
        footer {
          position: fixed;
          bottom: 0;
        }
      </style>
</head>
<body>  
        <div class="allpatientpage_container">
            <table class="table_container">
                <tr>
                  <th><div>Name</div></th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Age</th>
                  <th>Liver disease</th>
                  <th>Heart disease</th>
                  <th>Diabetes</th>
                </tr>
                
                {% for patient in patients %}
                <tr>
                    <td><div class= {{ patient.id }} id = {{ patient.name }} onclick="redirect(event)" id="x">{{ patient.name }}</div></td>
                    <td><div id="x">{{ patient.email }}</div></td>
                    <td><div id="x">{{ patient.phone }}</div></td>
                    <td><div id="x">{{ patient.age }}</div></td>
                    {% if(patient.liver_disease==1)%}
                    <td class="center"><div style="background-color:red" class="resultbox" id="x"></div></td>
                    {% else %}
                    <td class="center"><div style="background-color:green" class="resultbox" id="x"></div></td>

                    {% endif %}

                    {% if(patient.heart_disease==1)%}
                    <td id="temp"><div style="background-color:red" class="resultbox" id="x"></div></td>
                    {% else %}
                    <td id="temp"><div style="background-color:green" class="resultbox" id="x"></div></td>

                    {% endif %}
                
                    {% if(patient.diabetes==1)%}
                    <td class="center"><div style="background-color:red" class="resultbox" id="x"></div></td>
                    {% else %}
                    <td class="center"><div style="background-color:rgb(5, 92, 5)" class="resultbox" id="x"></div></td>

                    {% endif %}
                </tr>
                {% endfor %}
              </table>
        </div>
        <footer>
            <div class="footer-content">
              <h3>MedAware.co</h3>
              <p>
                "Stay informed, stay ahead - let our disease check guide you through
                life's uncertain thread."
              </p>
              <p>
                Want to contribute ?
                <img
                  class="github"
                  src="{{url_for('static',filename='../static/resources/github-4.png')}}"
                />
              </p>
            </div>
            <div class="footer-bottom">
              <p>
                copyright &copy;2023. designed by
                <span><a href="https://github.com/Gaurav07076">Gaurav, </a></span>
                <span><a href="https://github.com/samyak269"> Samyak , </a></span>
                <span
                  ><a href="https://github.com/The-Prithwiraj06"
                    >Prithwiraj,
                  </a></span
                >
                <span><a href="https://github.com/deepak1ok">Deepak, </a></span>
                <span
                  ><a href="https://github.com/saswatdas121"
                    >Saswat Jyoti Das.
                  </a></span
                >
    
                <span
                  ><a href="https://github.com/RamaSingh7653">Rama Singh </a></span
                >
              </p>
            </div>
          </footer>
        

       <script>

          
    
            function redirect(e){
                console.log(e)
                const classvar = e.target.className;
                const email = e.target.id
                console.log(classvar)
                fetch('http://localhost:5002/main',
                {
                    headers:{
                        'content-type':'application/json'
                    },
                    method : 'post',
                    body: JSON.stringify({
                        patient:classvar,
                        email:email
                    })
                }).then(
                    (resp)=>{
                        window.location.href='http://localhost:5002/main'
                    }
                )
            }
       </script>
</body>
</html>

