<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class=" br9 card-body">
        <form action="/uploadpatient" class="form" method="post" >
            <label for="">Email</label>
            <input type="email" class="form-control" name="email"><br>
            <label for="">Name</label><br>
            <input type="text" class="form-control" name="name"><br><br>
            <label for="">Age</label><br>
            <input type="number" class="form-control" name="age"><br><br>
            <label for="">Phone</label><br>
            <input type="number" class="form-control" name="phone"><br><br>
            <input type="submit" value="Login">
        </form>

        <a href="{{url_for('patients')}}">All patients</a>
    

    </div>
    
</body>
</html>